@import '../styles/breakpoints.module.scss';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-family-primary);
	font-weight: var(--font-weight-primary-regular);
	font-size: 1rem;
	line-height: 1.25em;
	line-height: 1.5em;
	color: var(--color-white);
}


html {
    font-size: 16px;
	scroll-behavior: smooth;
	@media (min-width: $breakpoint-xl) {
		font-size: 1.5vw;
	}

}

body {
    background-color: var(--color-black);
}

h1, h2, h3, h4 {
	font-weight: var(--font-weight-primary-bold);
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
}

button {
	font-size: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}




