.container {
	&:hover .img {
		filter: contrast(95%) grayscale(10%);
	}
}

.imgWrapper {
	// width: 100%;
	// background-color: red;
	margin-bottom: 1em;
	width: 100% !important;
	* {
		width: 100% !important;
		height: 12em;
	}

	.img {
		width: 100% !important;
		display: block;
		object-fit: cover;
		border-radius: 1rem;
		filter: contrast(80%) grayscale(10%);
		transition: filter 0.25s;
	}
}

.title {
	// color: var(--color-gray-white);
	// color: #ccc;
}

// .description {

// }

.buttonList {
	margin-top: 1rem;
	// background-color: rgba(#aaa, .1);
}
